.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-Nbvk_XDyiHu8);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-d55ckUoYnpQh);
  border-radius: var(--token-U5h3G-k3WpA0);
  padding: var(--token-gNHICPbDD_uk);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection___37Kos:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
