.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-P3k1rPVI4J-Q);
  color: var(--token-fetLAGfm9F7K);
  font-family: var(--token-Quac6qWhsrI8);
  font-size: var(--token-lxFmAVCYGiRL);
  line-height: var(--token-fe2KJpdqohjc);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-gNHICPbDD_uk);
  padding: var(--token-gNHICPbDD_uk) var(--token-U5h3G-k3WpA0);
  border-style: none;
}
.ariaInput[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused][data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JM3aIxXou44Z);
  outline-offset: 1px;
  outline-color: var(--token-7OGuuSpVTN0h);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-pe-ief9m9ZeY);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-g7HfWVsUFJsu);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-pe-ief9m9ZeY);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-6X2C5WDWtBTO);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-6X2C5WDWtBTO);
}
