@import "../react_aria/plasmic.css"; /* plasmic-import: gmeH6XgPaBtkt51HunAo4g/projectcss */
@import "../library_tabler_3_2_icons/plasmic.css"; /* plasmic-import: d2Pfbr6bN5UwJ4ss7Fh3HB/projectcss */
@import "../library_tailwind_3_4_color_tokens/plasmic.css"; /* plasmic-import: 5ZtnypMovRHeeP3YTdPCYL/projectcss */
@import "../library_tailwind_3_4_number_tokens/plasmic.css"; /* plasmic-import: 4vjRXvnb4XuY6J15w9oRcQ/projectcss */
@import "../plasmic_kit_animations/plasmic.css"; /* plasmic-import: axVArpcqgHCPMKB2yUGsW3/projectcss */
@import "../react_scroll_parallax_global/plasmic.css"; /* plasmic-import: 84wxoth5npGrp6RRXPL88z/projectcss */
@import "../react_slick/plasmic.css"; /* plasmic-import: r3ASNrnyvLLLAtDvzUioQ/projectcss */
@import "../plasmic_tabs/plasmic.css"; /* plasmic-import: gLnoj82AzKVVT7qXiqAbHD/projectcss */
@import "../jquery/plasmic.css"; /* plasmic-import: mqxdhm5p6WHAt7hW1mdcCX/projectcss */
@import "../copy_to_clipboard/plasmic.css"; /* plasmic-import: aEHVN5v6mfM4eovDsL8Z7d/projectcss */
@import "../lodash/plasmic.css"; /* plasmic-import: hsyJcmBceSfPzvvXzVTuk7/projectcss */
@import "../lottie_react/plasmic.css"; /* plasmic-import: 5dGW8Awro3qq8Hh5MveXLP/projectcss */
@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens_uAEPi88t4b3bpYVaXpTdTs {
  --token-6X2C5WDWtBTO: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-6X2C5WDWtBTO);
  --token-lD7HRW3X5wOz: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-lD7HRW3X5wOz);
  --token-YXnD4jgEIJm6: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-YXnD4jgEIJm6);
  --token-4KatVKt_QG2G: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-4KatVKt_QG2G);
  --token-Qv6AVxmtRoCq: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-Qv6AVxmtRoCq);
  --token-HrdvRgtwvrIj: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-HrdvRgtwvrIj);
  --token-4AWZHzJJ1KDv: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-4AWZHzJJ1KDv);
  --token-JpyVAFbndndc: 1.25rem;
  --plasmic-token-font-lg: var(--token-JpyVAFbndndc);
  --token-Nbvk_XDyiHu8: #ffffff;
  --plasmic-token-basic-container-background: var(--token-Nbvk_XDyiHu8);
  --token-7OGuuSpVTN0h: var(--token-KOW7TXbWLn8p);
  --plasmic-token-brand-brand: var(--token-7OGuuSpVTN0h);
  --token-Quac6qWhsrI8: Inter;
  --plasmic-token-sans-serif: var(--token-Quac6qWhsrI8);
  --token-lxFmAVCYGiRL: 1rem;
  --plasmic-token-font-md: var(--token-lxFmAVCYGiRL);
  --token-fe2KJpdqohjc: 1.25;
  --plasmic-token-line-height-md: var(--token-fe2KJpdqohjc);
  --token-gNHICPbDD_uk: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-gNHICPbDD_uk);
  --token-DjWfLcRVdfne: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-DjWfLcRVdfne);
  --token-NAzf4eEw_Adx: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-NAzf4eEw_Adx);
  --token-zDVsi33X5Y7E: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-zDVsi33X5Y7E);
  --token-bsY0WCtF_FTp: 0.75rem;
  --plasmic-token-font-sm: var(--token-bsY0WCtF_FTp);
  --token-boBwnYCtIyYA: 1;
  --plasmic-token-line-height-sm: var(--token-boBwnYCtIyYA);
  --token-bqczmuuF1eVG: 1.4;
  --plasmic-token-line-height-lg: var(--token-bqczmuuF1eVG);
  --token-JM3aIxXou44Z: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-JM3aIxXou44Z);
  --token-pQ4wryeGXgNK: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-pQ4wryeGXgNK);
  --token-dLrNHl3AqNLX: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-dLrNHl3AqNLX);
  --token-n2dda4jDmCzO: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-n2dda4jDmCzO);
  --token-phqvZE8oddOH: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-phqvZE8oddOH);
  --token-pe-ief9m9ZeY: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-pe-ief9m9ZeY);
  --token-LjmbKW4tSdUL: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-LjmbKW4tSdUL);
  --token-S2uZhDKKzTWS: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-S2uZhDKKzTWS);
  --token-qhijybeJw0vH: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-qhijybeJw0vH);
  --token-e22D7mJgTMkH: var(--token-7OGuuSpVTN0h);
  --plasmic-token-brand-brand-border: var(--token-e22D7mJgTMkH);
  --token-6DbanXmWE8Tk: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-6DbanXmWE8Tk);
  --token-d55ckUoYnpQh: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-d55ckUoYnpQh);
  --token-9b0XvXyJRg2O: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-9b0XvXyJRg2O);
  --token-ZR6Bus04WIDp: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-ZR6Bus04WIDp);
  --token-j3AWgYKwOduN: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-j3AWgYKwOduN);
  --token-RoUR8M7VuaU4: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-RoUR8M7VuaU4);
  --token-YIb1gUI9ZKot: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-YIb1gUI9ZKot);
  --token-rh7b-AdOAaDz: #00000033;
  --plasmic-token-interaction-pressed: var(--token-rh7b-AdOAaDz);
  --token-U5h3G-k3WpA0: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-U5h3G-k3WpA0);
  --token-t8BwpfGPxdhr: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-t8BwpfGPxdhr);
  --token-F-XkWCISOjGp: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-F-XkWCISOjGp);
  --token-hMbTh0e_DzzY: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-hMbTh0e_DzzY);
  --token-zv4mXHBGOFAT: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-zv4mXHBGOFAT);
  --token-NPf0BXHVEUe8: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-NPf0BXHVEUe8);
  --token-Dd85MVcUww8m: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-Dd85MVcUww8m);
  --token-UfdQRY7FO87X: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-UfdQRY7FO87X);
  --token-Y0Tjt9jiNQFu: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-Y0Tjt9jiNQFu);
  --token-Wc6K0-z7p9H7: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-Wc6K0-z7p9H7);
  --token-GD_jEMzB4I2c: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-GD_jEMzB4I2c);
  --token-6VfcthSHfrTS: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-6VfcthSHfrTS
  );
  --token-fetLAGfm9F7K: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-fetLAGfm9F7K);
  --token-Sj3ZbficU-Pu: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-Sj3ZbficU-Pu);
  --token-ZgkoQG9Kg-oY: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-ZgkoQG9Kg-oY);
  --token-h-d56JeJeGQ0: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-h-d56JeJeGQ0);
  --token-P3k1rPVI4J-Q: var(--token-GQQSYIXwL9h_);
  --plasmic-token-basic-border: var(--token-P3k1rPVI4J-Q);
  --token-g7HfWVsUFJsu: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-g7HfWVsUFJsu);
  --token--k9CwcHU5dTh: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token--k9CwcHU5dTh);
  --token-gPT5kfHbCt-x: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-gPT5kfHbCt-x);
  --token-jueHzmkOZqP-: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-jueHzmkOZqP-);
  --token-KOW7TXbWLn8p: #7f23ff;
  --plasmic-token-main-grad-color: var(--token-KOW7TXbWLn8p);
}

.plasmic_tokens_uAEPi88t4b3bpYVaXpTdTs {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-BHViVw4pOOoT_font-family: "Inter", sans-serif;
  --mixin-BHViVw4pOOoT_font-size: 16px;
  --mixin-BHViVw4pOOoT_font-weight: 400;
  --mixin-BHViVw4pOOoT_font-style: normal;
  --mixin-BHViVw4pOOoT_color: #000000;
  --mixin-BHViVw4pOOoT_text-align: left;
  --mixin-BHViVw4pOOoT_text-transform: none;
  --mixin-BHViVw4pOOoT_line-height: 1.5;
  --mixin-BHViVw4pOOoT_letter-spacing: normal;
  --mixin-BHViVw4pOOoT_white-space: pre-wrap;
  --mixin-BHViVw4pOOoT_user-select: text;
  --mixin-BHViVw4pOOoT_text-decoration-line: none;
  --mixin-BHViVw4pOOoT_text-overflow: clip;
  --mixin-P3EjRoF65uOD_font-weight: 700;
  --mixin-P3EjRoF65uOD_font-size: 64px;
  --mixin-P3EjRoF65uOD_line-height: 1;
  --mixin-P3EjRoF65uOD_letter-spacing: -1px;
  --mixin-P3EjRoF65uOD_white-space: pre-wrap;
  --mixin-etz3BGQ1M9LU_font-size: 48px;
  --mixin-etz3BGQ1M9LU_font-weight: 700;
  --mixin-etz3BGQ1M9LU_letter-spacing: -0.5px;
  --mixin-etz3BGQ1M9LU_line-height: 1.1;
  --mixin-etz3BGQ1M9LU_white-space: pre-wrap;
  --mixin-dC_l8QooUO3B_color: #0070f3;
  --mixin-dC_l8QooUO3B_white-space: pre-wrap;
  --mixin--7jlwkK_5sHM_font-size: 32px;
  --mixin--7jlwkK_5sHM_font-weight: 600;
  --mixin--7jlwkK_5sHM_line-height: 1.2;
  --mixin--7jlwkK_5sHM_white-space: pre-wrap;
  --mixin-8FU6-icNALia_font-size: 24px;
  --mixin-8FU6-icNALia_font-weight: 600;
  --mixin-8FU6-icNALia_line-height: 1.3;
  --mixin-8FU6-icNALia_white-space: pre-wrap;
  --mixin-upqESGB_nLqB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-upqESGB_nLqB_border-bottom-color: #dddddd;
  --mixin-upqESGB_nLqB_border-bottom-style: solid;
  --mixin-upqESGB_nLqB_border-bottom-width: 1px;
  --mixin-upqESGB_nLqB_border-left-color: #dddddd;
  --mixin-upqESGB_nLqB_border-left-style: solid;
  --mixin-upqESGB_nLqB_border-left-width: 1px;
  --mixin-upqESGB_nLqB_border-right-color: #dddddd;
  --mixin-upqESGB_nLqB_border-right-style: solid;
  --mixin-upqESGB_nLqB_border-right-width: 1px;
  --mixin-upqESGB_nLqB_border-top-color: #dddddd;
  --mixin-upqESGB_nLqB_border-top-style: solid;
  --mixin-upqESGB_nLqB_border-top-width: 1px;
  --mixin-upqESGB_nLqB_border-bottom-left-radius: 3px;
  --mixin-upqESGB_nLqB_border-bottom-right-radius: 3px;
  --mixin-upqESGB_nLqB_border-top-left-radius: 3px;
  --mixin-upqESGB_nLqB_border-top-right-radius: 3px;
  --mixin-upqESGB_nLqB_font-family: "Inconsolata";
  --mixin-upqESGB_nLqB_padding-bottom: 1px;
  --mixin-upqESGB_nLqB_padding-left: 4px;
  --mixin-upqESGB_nLqB_padding-right: 4px;
  --mixin-upqESGB_nLqB_padding-top: 1px;
  --mixin-upqESGB_nLqB_white-space: pre-wrap;
  --mixin-BtlBoupFMVpJ_border-left-color: #dddddd;
  --mixin-BtlBoupFMVpJ_border-left-style: solid;
  --mixin-BtlBoupFMVpJ_border-left-width: 3px;
  --mixin-BtlBoupFMVpJ_color: #888888;
  --mixin-BtlBoupFMVpJ_padding-left: 10px;
  --mixin-BtlBoupFMVpJ_white-space: pre-wrap;
  --mixin-38Rp4uduebsy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-38Rp4uduebsy_border-bottom-color: #dddddd;
  --mixin-38Rp4uduebsy_border-bottom-style: solid;
  --mixin-38Rp4uduebsy_border-bottom-width: 1px;
  --mixin-38Rp4uduebsy_border-left-color: #dddddd;
  --mixin-38Rp4uduebsy_border-left-style: solid;
  --mixin-38Rp4uduebsy_border-left-width: 1px;
  --mixin-38Rp4uduebsy_border-right-color: #dddddd;
  --mixin-38Rp4uduebsy_border-right-style: solid;
  --mixin-38Rp4uduebsy_border-right-width: 1px;
  --mixin-38Rp4uduebsy_border-top-color: #dddddd;
  --mixin-38Rp4uduebsy_border-top-style: solid;
  --mixin-38Rp4uduebsy_border-top-width: 1px;
  --mixin-38Rp4uduebsy_border-bottom-left-radius: 3px;
  --mixin-38Rp4uduebsy_border-bottom-right-radius: 3px;
  --mixin-38Rp4uduebsy_border-top-left-radius: 3px;
  --mixin-38Rp4uduebsy_border-top-right-radius: 3px;
  --mixin-38Rp4uduebsy_font-family: "Inconsolata";
  --mixin-38Rp4uduebsy_padding-bottom: 3px;
  --mixin-38Rp4uduebsy_padding-left: 6px;
  --mixin-38Rp4uduebsy_padding-right: 6px;
  --mixin-38Rp4uduebsy_padding-top: 3px;
  --mixin-38Rp4uduebsy_white-space: pre-wrap;
  --mixin-OuD2TKy_LJK-_display: flex;
  --mixin-OuD2TKy_LJK-_flex-direction: column;
  --mixin-OuD2TKy_LJK-_align-items: stretch;
  --mixin-OuD2TKy_LJK-_justify-content: flex-start;
  --mixin-OuD2TKy_LJK-_list-style-position: outside;
  --mixin-OuD2TKy_LJK-_padding-left: 40px;
  --mixin-OuD2TKy_LJK-_position: relative;
  --mixin-OuD2TKy_LJK-_list-style-type: disc;
  --mixin-OuD2TKy_LJK-_white-space: pre-wrap;
  --mixin-iopZifbYrTTP_display: flex;
  --mixin-iopZifbYrTTP_flex-direction: column;
  --mixin-iopZifbYrTTP_align-items: stretch;
  --mixin-iopZifbYrTTP_justify-content: flex-start;
  --mixin-iopZifbYrTTP_list-style-position: outside;
  --mixin-iopZifbYrTTP_padding-left: 40px;
  --mixin-iopZifbYrTTP_position: relative;
  --mixin-iopZifbYrTTP_list-style-type: decimal;
  --mixin-iopZifbYrTTP_white-space: pre-wrap;
  --mixin-5-LWaGWHWhJE_font-size: 20px;
  --mixin-5-LWaGWHWhJE_font-weight: 600;
  --mixin-5-LWaGWHWhJE_line-height: 1.5;
  --mixin-5-LWaGWHWhJE_white-space: pre-wrap;
  --mixin-z1qTiRWBaWQ0_font-size: 16px;
  --mixin-z1qTiRWBaWQ0_font-weight: 600;
  --mixin-z1qTiRWBaWQ0_line-height: 1.5;
  --mixin-z1qTiRWBaWQ0_white-space: pre-wrap;
  --mixin-tUKXeqlcPYWf_color: #3291ff;
  --mixin-tUKXeqlcPYWf_white-space: pre-wrap;
  --mixin-zfVEH2d5NMg0_white-space: pre-wrap;
  --mixin-AD3VhMpOSkul_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) {
  font-family: var(--mixin-BHViVw4pOOoT_font-family);
  font-size: var(--mixin-BHViVw4pOOoT_font-size);
  font-weight: var(--mixin-BHViVw4pOOoT_font-weight);
  font-style: var(--mixin-BHViVw4pOOoT_font-style);
  color: var(--mixin-BHViVw4pOOoT_color);
  text-align: var(--mixin-BHViVw4pOOoT_text-align);
  text-transform: var(--mixin-BHViVw4pOOoT_text-transform);
  line-height: var(--mixin-BHViVw4pOOoT_line-height);
  letter-spacing: var(--mixin-BHViVw4pOOoT_letter-spacing);
  white-space: var(--mixin-BHViVw4pOOoT_white-space);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) h1:where(.h1__uAEPi),
h1:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.h1__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) h1,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) h1,
h1:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  font-weight: var(--mixin-P3EjRoF65uOD_font-weight);
  font-size: var(--mixin-P3EjRoF65uOD_font-size);
  line-height: var(--mixin-P3EjRoF65uOD_line-height);
  letter-spacing: var(--mixin-P3EjRoF65uOD_letter-spacing);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) h2:where(.h2__uAEPi),
h2:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.h2__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) h2,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) h2,
h2:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  font-size: var(--mixin-etz3BGQ1M9LU_font-size);
  font-weight: var(--mixin-etz3BGQ1M9LU_font-weight);
  letter-spacing: var(--mixin-etz3BGQ1M9LU_letter-spacing);
  line-height: var(--mixin-etz3BGQ1M9LU_line-height);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) a:where(.a__uAEPi),
a:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.a__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) a,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) a,
a:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  color: var(--mixin-dC_l8QooUO3B_color);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) h3:where(.h3__uAEPi),
h3:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.h3__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) h3,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) h3,
h3:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  font-size: var(--mixin--7jlwkK_5sHM_font-size);
  font-weight: var(--mixin--7jlwkK_5sHM_font-weight);
  line-height: var(--mixin--7jlwkK_5sHM_line-height);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) h4:where(.h4__uAEPi),
h4:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.h4__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) h4,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) h4,
h4:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  font-size: var(--mixin-8FU6-icNALia_font-size);
  font-weight: var(--mixin-8FU6-icNALia_font-weight);
  line-height: var(--mixin-8FU6-icNALia_line-height);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) code:where(.code__uAEPi),
code:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.code__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) code,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) code,
code:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-upqESGB_nLqB_font-family);
  border-radius: var(--mixin-upqESGB_nLqB_border-top-left-radius)
    var(--mixin-upqESGB_nLqB_border-top-right-radius)
    var(--mixin-upqESGB_nLqB_border-bottom-right-radius)
    var(--mixin-upqESGB_nLqB_border-bottom-left-radius);
  padding: var(--mixin-upqESGB_nLqB_padding-top)
    var(--mixin-upqESGB_nLqB_padding-right)
    var(--mixin-upqESGB_nLqB_padding-bottom)
    var(--mixin-upqESGB_nLqB_padding-left);
  border-top: var(--mixin-upqESGB_nLqB_border-top-width)
    var(--mixin-upqESGB_nLqB_border-top-style)
    var(--mixin-upqESGB_nLqB_border-top-color);
  border-right: var(--mixin-upqESGB_nLqB_border-right-width)
    var(--mixin-upqESGB_nLqB_border-right-style)
    var(--mixin-upqESGB_nLqB_border-right-color);
  border-bottom: var(--mixin-upqESGB_nLqB_border-bottom-width)
    var(--mixin-upqESGB_nLqB_border-bottom-style)
    var(--mixin-upqESGB_nLqB_border-bottom-color);
  border-left: var(--mixin-upqESGB_nLqB_border-left-width)
    var(--mixin-upqESGB_nLqB_border-left-style)
    var(--mixin-upqESGB_nLqB_border-left-color);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) blockquote:where(.blockquote__uAEPi),
blockquote:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.blockquote__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) blockquote,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) blockquote,
blockquote:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  color: var(--mixin-BtlBoupFMVpJ_color);
  padding-left: var(--mixin-BtlBoupFMVpJ_padding-left);
  border-left: var(--mixin-BtlBoupFMVpJ_border-left-width)
    var(--mixin-BtlBoupFMVpJ_border-left-style)
    var(--mixin-BtlBoupFMVpJ_border-left-color);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) pre:where(.pre__uAEPi),
pre:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.pre__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) pre,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) pre,
pre:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-38Rp4uduebsy_font-family);
  border-radius: var(--mixin-38Rp4uduebsy_border-top-left-radius)
    var(--mixin-38Rp4uduebsy_border-top-right-radius)
    var(--mixin-38Rp4uduebsy_border-bottom-right-radius)
    var(--mixin-38Rp4uduebsy_border-bottom-left-radius);
  padding: var(--mixin-38Rp4uduebsy_padding-top)
    var(--mixin-38Rp4uduebsy_padding-right)
    var(--mixin-38Rp4uduebsy_padding-bottom)
    var(--mixin-38Rp4uduebsy_padding-left);
  border-top: var(--mixin-38Rp4uduebsy_border-top-width)
    var(--mixin-38Rp4uduebsy_border-top-style)
    var(--mixin-38Rp4uduebsy_border-top-color);
  border-right: var(--mixin-38Rp4uduebsy_border-right-width)
    var(--mixin-38Rp4uduebsy_border-right-style)
    var(--mixin-38Rp4uduebsy_border-right-color);
  border-bottom: var(--mixin-38Rp4uduebsy_border-bottom-width)
    var(--mixin-38Rp4uduebsy_border-bottom-style)
    var(--mixin-38Rp4uduebsy_border-bottom-color);
  border-left: var(--mixin-38Rp4uduebsy_border-left-width)
    var(--mixin-38Rp4uduebsy_border-left-style)
    var(--mixin-38Rp4uduebsy_border-left-color);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) ul:where(.ul__uAEPi),
ul:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.ul__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) ul,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) ul,
ul:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  display: var(--mixin-OuD2TKy_LJK-_display);
  flex-direction: var(--mixin-OuD2TKy_LJK-_flex-direction);
  align-items: var(--mixin-OuD2TKy_LJK-_align-items);
  justify-content: var(--mixin-OuD2TKy_LJK-_justify-content);
  list-style-position: var(--mixin-OuD2TKy_LJK-_list-style-position);
  padding-left: var(--mixin-OuD2TKy_LJK-_padding-left);
  position: var(--mixin-OuD2TKy_LJK-_position);
  list-style-type: var(--mixin-OuD2TKy_LJK-_list-style-type);
  column-gap: var(--mixin-OuD2TKy_LJK-_column-gap);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) ol:where(.ol__uAEPi),
ol:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.ol__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) ol,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) ol,
ol:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  display: var(--mixin-iopZifbYrTTP_display);
  flex-direction: var(--mixin-iopZifbYrTTP_flex-direction);
  align-items: var(--mixin-iopZifbYrTTP_align-items);
  justify-content: var(--mixin-iopZifbYrTTP_justify-content);
  list-style-position: var(--mixin-iopZifbYrTTP_list-style-position);
  padding-left: var(--mixin-iopZifbYrTTP_padding-left);
  position: var(--mixin-iopZifbYrTTP_position);
  list-style-type: var(--mixin-iopZifbYrTTP_list-style-type);
  column-gap: var(--mixin-iopZifbYrTTP_column-gap);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) h5:where(.h5__uAEPi),
h5:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.h5__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) h5,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) h5,
h5:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  font-size: var(--mixin-5-LWaGWHWhJE_font-size);
  font-weight: var(--mixin-5-LWaGWHWhJE_font-weight);
  line-height: var(--mixin-5-LWaGWHWhJE_line-height);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) h6:where(.h6__uAEPi),
h6:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.h6__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) h6,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) h6,
h6:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
  font-size: var(--mixin-z1qTiRWBaWQ0_font-size);
  font-weight: var(--mixin-z1qTiRWBaWQ0_font-weight);
  line-height: var(--mixin-z1qTiRWBaWQ0_line-height);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) a:where(.a__uAEPi):hover,
a:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.a__uAEPi):hover,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) a:hover,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) a:hover,
a:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags):hover {
  color: var(--mixin-tUKXeqlcPYWf_color);
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) li:where(.li__uAEPi),
li:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.li__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) li,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) li,
li:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
}

:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs) p:where(.p__uAEPi),
p:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs.p__uAEPi),
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs .__wab_expr_html_text) p,
:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) p,
p:where(.root_reset_uAEPi88t4b3bpYVaXpTdTs_tags) {
}
