.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 8px 40px;
}
@media (max-width: 1105px) {
  .nav {
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 834px) {
  .nav {
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
}
.svg__aEnzG {
  object-fit: cover;
  max-width: 100%;
  height: 35px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__aEnzG {
    max-width: 100%;
    width: 100px;
    flex-shrink: 0;
  }
}
.freeBox___4MrFt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 50px;
  column-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1105px) {
  .freeBox___4MrFt {
    display: none;
  }
}
@media (max-width: 834px) {
  .freeBox___4MrFt {
    display: none;
  }
}
.link__pqi5S {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fetLAGfm9F7K);
  padding: 8px;
}
.text__pkWLx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__ggxd4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fetLAGfm9F7K);
  padding: 8px;
}
.text__yo5Wb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__uczS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fetLAGfm9F7K);
  padding: 8px;
}
.text___2Y1U0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.link__ako6T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fetLAGfm9F7K);
  padding: 8px;
}
.text__eWcfh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.link__foXcE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fetLAGfm9F7K);
  padding: 8px;
}
.text__ieFTn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__rgmUw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rgmUw {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.link__vWkf1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fetLAGfm9F7K);
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vWkf1 {
    display: none;
  }
}
.text__acba7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__acba7 {
    font-size: 14px;
    display: none;
  }
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance):global(.__wab_instance) {
    display: none;
  }
}
.svg__daj0K {
  position: relative;
  height: 1em;
}
.text__lca0F {
  white-space: pre;
}
.svg__xewCb {
  position: relative;
  height: 1em;
}
.svg__kEYa {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__kEYa {
    display: block;
  }
}
